body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
#top_banner{
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}
h1{
    font-size: 40px;
    font-weight: 500;
}
.name-color-orange{
    color: orange;
}
.btn a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(salmon, tomato);
    padding: 5px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.flexible_container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
#drem_area{
    padding-top: 100px;
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
#experience{
    padding-top: 100px;
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
#experience h1{
    margin-left: 80px;
}
.experience_item{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px 10px;
    border-left: 7px solid salmon;
}
#border-color{
    border-left: 7px solid blue;
}
.expi_text h1{
    font-size: 30px;
    text-align: center;
}
.expi_text h3{
    font-size: 20px;
    text-align: center;
    color: tomato;
}
.expi_text P{
    font-size: 15px;
    width: 470px;
    text-align: center;
    margin: 0 auto;
}
footer p{
    text-align: center;
    font-size: 17px;
    margin-top: 100px;
}